@import './styles/shared.scss';

.App {
  text-align: center;
}

.CloseModalButton {
  @extend %button;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: $indigo;
  color: $white;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: $indigo-accent;
  }

  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
